@model TeachingAssigment.Models.ProfessorInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProfessorInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day.DayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time.TimeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfessorInfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
